.header-top-bg{
    background: var(--header-topo);
}

.header-itens{
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contatos-header{
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    gap: 10px;
    color: var(--cor-branco);
}

.redes p{
    font-size: 0.7rem;
    color: var(--cor-branco)
}

.logo{
    font-size: 3rem;
    color: var(--cor-logo);
    font-weight:600;
}

.nav-itens {
    display: flex;
    gap: 120px;
}

.nav-itens a{
    color: var(--preto);
    font-style: normal;
    font-weight: 100;

}


.nav-itens a:hover{
    color: var(--cor-logo);
    transition: .3s;
}



.botoes-direito{
    display: flex;
    gap: 10px;
}

.botoes-direito :nth-child(4){
    display: none;
    cursor: pointer;
}

@media(max-width:1000px){
    .nav-itens{
        display: block;
        position: absolute;
        flex-direction: column;
        background: var(--cor-branco);
        padding-left: 20px;
        width: 100%;
        height: 0px;
        top: 75px;
        left: 0;
        visibility: hidden;
        overflow-y: hidden;
        transition: .6s;
        z-index: 1000;
    }

    .nav-itens li{
        margin-bottom: 16px;
        padding: 5px;
    }

    .botoes-direito :nth-child(n){
        display: none;
    }

    .botoes-direito :nth-child(4){
        display: block;
    }

    .cabecalho{
        display: none;
    }

    .nav.ativo .js-menu{
        visibility: visible;
        height: calc(100vw - 200px);
        overflow-y: auto;
    }
}