.intro-bg{
    background: var(--intro-bg);
}

.intro-itens{
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lado-esquerdo{
    flex-basis: 50%;
}

.lado-direito{
    flex-basis: 50%;
}

.lado-esquerdo h1{
    font-size: 3rem;
    color: var(--cor-logo);
    font-style: italic;
    font-weight: 100;
}

.lado-esquerdo span{
    font-style: normal;
    font-weight: 500;
}

.lado-esquerdo h1,p{
    margin-bottom: 5px;
}

.lado-esquerdo p{
    font-weight: 100;
    font-size: 1.2rem;
}

.lado-esquerdo :nth-child(2){
    font-weight: 400;
}

@media(max-width:1000px){
    .js-slider{
        flex-direction: column-reverse;
        padding-top: 40px;
        text-align: center;
    }
    .lado-esquerdo h1{
        font-size: 3rem;
    }
    
}
@media(max-width:800px){
    .js-slider{
        flex-direction: column-reverse;
        padding-top: 40px;
        text-align: center;
        padding-bottom: 60px;
    }

    .lado-esquerdo h1{
        font-size: 2.5rem;
    }
    .lado-esquerdo p{
        font-size: 1rem;
    }
    .lado-direito{
        max-width: 500px;
    }

    .lado-direito img{
        width: 400px;
    }
}